<h1> WORDS</h1>
<ul>
<% @words.sort{|a,b| b <=> a }.each do |word| %>

<li><%= word.name %></li>
<%= link_to('edit word', edit_word_path(word.id)) %>
<%= link_to('delete word', word_path(word.id), :method => :delete) %>

<% end %>
</ul>